* {
    padding: 0;
    margin: 0;
}

header {
   
    border: solid 1px;
    background-color: aquamarine;
    
}

header label {
    font-size: 30px;
    
}

.header {
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 40px;
}

.header #title {
    position: absolute;
    top: 10px;
    width: 400px;
    height: 30px;
    float: right;
    left: 200px;
    
}


